<h1> List of Students </h1>

<% j = 1 %>
<% @students.each do |student| %>
  <div class = 'student_<%= j %>'>
    <li>Name: <%= student.name %></li>
    <li>Age: <%= student.age %></li>
    <li>House: <%= student.house %></li>
    <% j += 1 %>
  </div><br/>
<% end %>

<h4>Average Age: <%= @students.average_age %></h4>
