<h1> List of Students </h1>

<% @students.each do |student| %>
  <div class = 'student_<%= student.id %>'>
    <li>Name: <%= student.name %></li>
    <li>Age: <%= student.age %></li>
    <li>House: <%= student.house %></li>
  </div><br/>
<% end %>

<h4>Average Age: <%= @students.average_age %></h4>
